.content {
  background: lightgrey;
}

.options {
  background: pink;
}

.searchResults {
  background: red;
}

.related {
  background: green;
}

.footer {
  background: orange;
}

.pages {
  background: grey;
}

// nav {
// float: left;
// }
