/* general rules for entire page */
li {
  list-style: none; }

* {
  box-sizing: border-box; }

ul {
  padding-left: 0px; }

#etsyPage {
  width: 1092px; }

.right {
  padding-left: 250px; }

.content {
  background: lightgrey; }

.options {
  background: pink; }

.searchResults {
  background: red; }

.related {
  background: green; }

.footer {
  background: orange; }

.pages {
  background: grey; }
