/* general rules for entire page */

li{
  list-style: none;
}

*{
  box-sizing: border-box;
  text-decoration: none;
}

#etsyPage{
  width: 1092px;
  background: #F4F5F0;
  overflow: auto;
}

// section 1

nav {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 20px;
  border: 3px solid #E8E9E5;
  background: #FFFFFF;
}

.final {
  float: right;
  margin-right: 30px;
  text-align: center;
}

.main {
  color: #F14F1D;
  font-size: 30px;
  margin-left: 20px;
}

#searchBar {
  height: 30px;
  margin-right: 0px;
  font-size: 12px;
  margin-left: 12px;
}

.button1 {
  background: #3BA7C0;
  color: white;
  font-size: 10px;
  padding: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-left: 0px;
}

.right {
  padding-left: 430px;
  color: #3BA7C0;
}

.cart {
  height: 15px;
  width: 15px;
}

// section 2

.heading {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 20px;
  border: 3px solid #E8E9E5;
  background: #FFFFFF;
  font-size: 12px;
}

.headinglist {
  color: grey;
}

a {
  margin-left: 12px;
  color: #3BA7C0;
}

// main part of the page

.content {
  margin-right: 0px;
}

// section 3
ul {
  padding-left: 15px;
}

li {
  color: #3BA7C0;
}

.options {
  width: 170px;
  margin-left: 20px;
  margin-right: 0px;
  line-height: 20px;
  border: 3px solid #E8E9E5;
  font-size: 12px;
  display: inline-block;
}

.allCat {
  padding-left: 10px;
  // margin-bottom: : 0px;
}


// section 4

.searchResults {
  width: 892px;
  float: right;
}

.singleItem {
  border: 1px solid lightgrey;
  width: 200px;
  height: 180px;
  float: left;
  font-size: 10px;
  margin: 10px;
}

img {
  height: 150px;
  width: 200px;
}

.singleItem > div {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-left: 0px;
}

.finalDetails {
  padding-right: 2px;
}

.realLink1 {
  margin-left: 2px;
  color: grey;
  line-height: 1.5;
}

.realLink {
  margin-left: 2px;
  color: lightgrey;
}

.price {
float: right;
color: #90C966;
}



// .overflow-ellipsis {
//   text-overflow: ellipsis;
// }

// bottom section of the page

.related {
  background: green;
}

.footer {
  background: orange;
}



// .page {
//   background: grey;
//   padding: 10px;
//   margin-left: 20px;
//   border: 1px solid black;
// }
