/* general rules for entire page.
page sections are defined in the html */
li {
  list-style: none; }

* {
  box-sizing: border-box;
  text-decoration: none; }

#etsyPage {
  width: 1092px;
  background: #F4F5F0;
  overflow: auto; }

nav {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 20px;
  border: 3px solid #E8E9E5;
  border-bottom: 0px;
  background: #FFFFFF; }

.final {
  float: right;
  margin-right: 30px;
  text-align: center; }

.main {
  color: #F14F1D;
  font-size: 30px;
  margin-left: 20px;
  font-family: 'Tenor Sans', sans-serif; }

#searchBar {
  height: 30px;
  font-size: 12px;
  margin-left: 12px;
  width: 300px; }

.button1 {
  background: #3BA7C0;
  color: white;
  font-size: 12px;
  padding: 15px;
  padding-top: 8.8px;
  padding-bottom: 7.5px;
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-left: -6px; }

.right {
  padding-left: 320px;
  color: #3BA7C0;
  font-size: 12px; }

.button {
  background: white;
  color: #3BA7C0;
  border: 2px solid #3BA7C0;
  border-radius: 4px;
  margin-left: 10px;
  font-size: 12px;
  padding-top: 7px;
  padding-bottom: 7px; }

.cart {
  height: 15px;
  width: 15px; }

.heading {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 20px;
  border: 3px solid #E8E9E5;
  background: #FFFFFF;
  font-size: 12px; }

.headinglist {
  color: grey; }

a {
  margin-left: 12px;
  color: #3BA7C0; }

.displayResults {
  margin-top: 15px;
  margin-bottom: 0px;
  margin-left: 20px;
  font-size: 10px; }

.whiskeyResults {
  margin-left: 110px;
  color: #3BA7C0;
  display: inline-block; }

.whiskey {
  color: black;
  display: inline-block; }

.content {
  margin-right: 0px; }

ul {
  padding-left: 15px; }

li {
  color: #3BA7C0; }

.options {
  width: 170px;
  margin-left: 20px;
  margin-right: 0px;
  margin-top: 10px;
  line-height: 20px;
  border: 3px solid #E8E9E5;
  font-size: 12px;
  display: inline-block; }

.allCat {
  padding-left: 10px; }

.searchResults {
  width: 892px;
  float: right; }

.mouseOver {
  position: absolute;
  z-index: 2;
  margin-top: 2px;
  margin-left: 160px;
  visibility: hidden; }

.singleItem:hover .mouseOver {
  visibility: visible; }

.hamburger {
  height: 15px;
  width: 15px; }

.heart {
  height: 15px;
  width: 15px; }

.singleItem {
  border: 1px solid lightgrey;
  width: 200px;
  height: 180px;
  float: left;
  font-size: 10px;
  margin: 10px;
  position: relative;
  z-index: 1; }

.resultImage {
  height: 150px;
  width: 200px;
  margin-left: -3px;
  margin-top: -1px; }

.singleItem > div {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-left: 0px; }

.finalDetails {
  padding-right: 2px; }

.realLink1 {
  margin-left: 2px;
  color: grey;
  line-height: 1.5; }

.realLink {
  margin-left: 2px;
  color: lightgrey; }

.price {
  float: right;
  color: #90C966; }
